.inner-footer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 66%;
    justify-content: flex-start;
}

.footer-dev-info {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
}

.footer-dev-info > h1 {
    color: white;
    font-size: 17px;
    margin: 10px 0;
}

.footer-dev-info > li {
    text-decoration: none;
    color: #A0A0A0;
    margin-bottom: 10px;
    font-size: 13px;
}

.footer-dev-info > li:hover {
    color: white;
}

.inner-footer > a:hover {
    background-color: rgba(236, 234, 234, 0.219);
}