.reservation-view-container {
 width: 78%;
 display: flex;
 margin: 16px auto;
 justify-content: space-between;
 

}


.reservation-view-details {
    width: 64%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-bottom: 1px solid #999999a2;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.reservation-view-confirmation {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #55B68D;
    width: 100%;
    font-size: 20px;
    padding: 10px 20px;
    display: flex;
}

.reservation-view-event-info {
    padding: 20px;
    background-color: #FCFCFC;
    width: 100%;
    display: flex;
}

.reservation-view-user-info {
    width: 26%;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    height: 100%;
    background-color: #FCFCFC;
    border-radius: 4px;
    box-shadow: 1px 1px 2px 2px lightgray;
}

.view-user-name-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    width: 63px;
    border-radius: 50%;
    background-color: #6C8AE4;
    color: white;
    text-align: center;
    font-size: 22px;
    letter-spacing: -2px;
}

.view-user-info {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    height: 108px;
}

.view-user-info > h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.view-user-info > p {
    color: #999999;
    margin: 10px 0;
}

.view-confirmation-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    color: #55B68D;
    text-align: center;
    font-size: 40px;
    transform: rotate(20deg);
    margin: 0, 10px
}

.reservation-view-confirmation-text  {
    font-size: 17px;
    width: 60%;
    margin: 0;
    padding: 0 20px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.reservation-view-event-info > img {
    width: 105px;
    height: 105px;
    margin: 0;
}

.view-event-info {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.view-event-info > h2 {
    font-size: 16px;
    font-weight: 600;
    color: #2D333F;
}


.cancellation-btn {
    cursor: pointer;
    color: #60B2D0;
}

.cancellation-btn:hover {
    color: #BB232E;
}