.search-results-container {
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    width: 75%;
}

.search-aside {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
}

.search-ul {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.search-item {
    display: flex;
    border-bottom: 1px solid rgba(192, 191, 191, 0.466);
    padding: 15px 0;
}
.search-item img{
    border-radius: 4px;
    height: 198px;
    width: 190px;
}



.search-event-details {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    justify-content: space-evenly;
    padding: 10px;
}

.timeslots {
    display: flex;
}

.event-name {
    font-size: 18px;
    font-weight: 600;
    color: #247F9E;

}




.event-subdetail { 
    font-size: 15px;
    color: #272D38;
}

.subdetail-period { 
    color: #F4F4F5;
}

.event-rating {
    font-size: 15px;
    font-weight: 600;
    display: flex;
}

.rating-count {
    margin-left: 10px;
}

.rating-count > a {
    font-size: 12px;
}

.rating-count > a:hover {
    color: red;;
}

.rating-star::before {
    content: '\2605';
    color: rgb(200, 200, 201);
    font-size: 18px;
}

.rating-star.star::before {
    color: #FDAF07;
}


.event-subdetail > span{ 
    color: black;
}


.no-search-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 75%;
    padding: 20px;
    height: 350px;
    font-family: Arial, Helvetica, sans-serif;
}

.no-search-ul > h1 {
    color: #91949A;
    text-transform: uppercase;
}

.no-search-ul > h2 > span{
    color: #DA3743;
    font-weight: bold;
    font-style: italic;
}

.start-over-btn {
    width: fit-content;
    border-radius: 3px;
    padding: 20px 20px;
    margin-right: 21px;
    height: 15px;
    
    text-align: center;

    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    transition-property: background-color;
    background-color: #DA3743;
    transition-duration: 500ms;
}

.start-over-btn:hover {
    background-color: #BB242F;
}

.redirect-search-link {
    color: #247F9E
}


/////////// Result Form Style ///////


.result-search-form {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #2D333F;
}

.result-search-form > .result-outer-div {
    padding: 20px 0;
    padding-bottom: 10px;
}

.result-outer-div {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    transition-delay: 1ms;
    width: 100%;
    flex-wrap: wrap;
}

.search-result-bar-date {
    width: 132px;
    font-size: 18px;
    margin: 0;
    padding: 0;
    border: none;
    text-align: center;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 49px;
    border-radius: 5px 0 0 5px;
    border-right: 1px solid rgba(192, 191, 191, 0.466);
    cursor: pointer;
}

.search-result-bar-date::-webkit-inner-spin-button {
    display: none;
}

.search-result-bar-date::-webkit-clear-button {
    display: none;
}

.search-result-bar-date::-webkit-calendar-picker-indication {
}




.result-form-selects {
    display: flex;
    margin: 0 12px;
    margin-right: 0;
    justify-content: center;
    align-items: center;
    width: 480px;
    background-color: white;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.result-form-selects select {
    height: 49px;
    border: 1px solid white;
    background-color: white;
    margin: 0 1px;
    width: 140px;
    font-size: 18px;
    font-family: sans-serif serif;
    padding-left: 5px;
    outline: none;
    cursor: pointer;
}

.result-form-selects > select {
    width: 134px;
}

.result-select-containers {
    border-right: 1px solid rgba(192, 191, 191, 0.466);
}

.result-select-containers > select {
    width: 158px;
    font-family: Arial, Helvetica, sans-serif;
}

.result-outer-div > input{
    width: 250px;
    height: 49px;
    margin: 0;
    margin: 0 0;
    margin-left: 0;
    padding-left: 40px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}


.result-outer-div > button {
    height: 19.3px;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 115px;
    padding: 15px;
    margin: 0 12px;
    margin-left: 0;
    background-color: white;
    text-align: center;
    background-color: #DA3743;
    color: white;
    font-size: 18px;
    transition-property: background-color;
    transition-duration: 800ms;
    font-family: Arial, Helvetica, sans-serif;
}

.result-outer-div > button:hover {
    background-color: #BB242F;
}


@media (max-width: 940px) {
    .result-form-selects {
        width: 60%;
        margin-left: 0;
        border-bottom-left-radius: 0;
    }

    .result-outer-div > button {
        width: 89.6%;
        margin: 0 auto;
        border-top-right-radius: 0;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .result-outer-div > input{
        width: 28%;
        border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0;
    }
}

@media (max-width: 640px) {
    .result-form-selects {
        width: 95%;
        margin-left: 0;
        border-radius: 5px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .result-outer-div > button {
        width: 90%;
        margin: 0 auto;
        border-top-right-radius: 0;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .result-outer-div > input{
        width: 88.8%;
        border-radius: 0;
        padding-left: 32px;
    }


}